#quiz-container {
    position: absolute;
    top:0px;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    z-index: 99;
}
.small-quiz {
    transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8); /* IE 9 */
    -webkit-transform: scale(0.8, 0.8); /* Safari and Chrome */
    -o-transform: scale(0.8, 0.8); /* Opera */
    -moz-transform: scale(0.8, 0.8); /* Firefox */
}

.btn-block {
    height: 10px !important;
    line-height: 0;

}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    padding: 10px;
    background-color: #fff;

}

#close {
    float:right;

color: #0f0f0f;

}

.unselectable:hover {
   font-weight: bold;
    padding: 10px;
    background-color: #dbdbdb;
}
label.btn {
    padding: 18px 60px;
    white-space: normal;
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s
}

label.btn-block {
    text-align: left;
    position: relative
}

.label-warning {
    display: none;
}
    .modal-dialog {
        width: 350px;
        margin: 30px auto;
    }

.modal-dialog img {
    width: 100%;
    margin-top: 10px;
}



@media (max-width: 450px) {
    .modal-dialog {
        width: 100%;
        margin: 30px auto;
    }

    .modal-dialog img {
        width: 100%;
        margin-top: 10px;
    }
    }



label .btn-label {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    padding: 0 10px;
    background: rgba(0,0,0,.15);
    height: 100%
}

label .glyphicon {
    top: 25%
}



.modal-header {
    background-color: transparent;
    color: inherit
}

.modal-body {
    min-height: 205px
}
.modal-footer{
    text-align: center;
    background-color: transparent;
}

.red{
    color: red;
    font-weight: bold;
}

.green{
    color: green;
    font-weight: bold;
}

.btn-quiz {
    color: #000000;
    background-color: #FFFFFF;
    border-color: #000000;
}

