@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

@font-face {
  font-family: "Pacifico Regular";
  src: local("../fonts/Pacifico.ttf"), url("../images/logo.svg") format("svg");
}
#gmap-canvas {
  height: 280px;
width: 100%;
}

body {
  padding-top: 80px;
  font-family: "Lato",Arial,sans-serif;
  height: 100%;

}

#jsondata-forecast{
  height: 60px;
  width: 150px;
  color: #0f0f0f;
  position: fixed;
  margin-left: 150px;
  margin-top: 22px;

}

#id02_parkeren{
  margin-top: 20px;
  width: 100%;
  height: 700px;
}
.weer-beschrijving
{
  font-weight: normal;
  font-size: small;
}
.weer-graden
{
  font-weight: bold;
  font-size: small;
}
.modal {
  display:block;
}

.card {
  background: #fff;
  border-radius: 2px;
  margin-top: 20px;
  min-height: 150px;
  padding: 5px;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: 0 5px 5px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}


.container-homee{
  min-height: 100%;
}



div.container.marketing{
  height: 100%;
}

h2, .h2 {
  font-size: 20px;
}

#container-bollen-center{
  text-align: center;
}

#container-bollen-center a{
  color: #3c3c3c;
  text-decoration: none;
}

#container-bollen-center a:hover > .img-circle {
  transform: scale(1.1);

}

.home-animation{
  animation: bounceIn 0.6s;
  transform: rotate(0deg) scale(1) translateZ(0);
  transition: all 0.4s cubic-bezier(.8,1.8,.75,.75);
  cursor: pointer;

}



.bubble { fill: #e76853; }
.icon { fill:  #fff; }

@keyframes bounceIn {
  0% {
    opacity: 1;
    transform: scale(.3);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }

  70% {
    opacity: 1;
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.img-circle {
  border-radius: 0%;
  transition: all .2s ease-in-out;
}

.img-circle:hover{
  transform: scale(1.1);
}



#slider-container{
  height: 250px;
  width: 100%;
}
.carousel {
  height: 250px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 100%;
  background-color: #fff;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}

@media (max-width: 360px) {
  .carousel-inner {
    position: relative;
    width: 100%;
    min-height: 100px;
    overflow: hidden;
  }


  #slider-container {
    height: 100px;
  }
}



@media (min-width: 360px) {
  .carousel-inner {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
  }




}

.item {
  background: none repeat scroll 0 0 #fff;
  padding: 5% 0;
  max-width: 100%;
  min-height: 100%;
}







.jumbotron h1{
  color: #fff;
}

.home-header {
  padding: 40px 15px;
  text-align: center;
}

.home-header img {
  margin-left: auto;
  margin-right: auto;
}

footer {
  background: #222;
  height:100%;

}
footer .copyright-section {
  background: #111;
  padding: 30px 0;
}
footer .copyright-section .logo {
  max-width: 300px;
  margin: 0 auto;
}


footer .copyright-section .copyright {
  text-align: center;
  color: #666;
  margin-top: 30px;

}
footer a {
  text-align: center;
  color: #e76853;
  margin-top: 30px;
}
footer a:hover {
  color: #e76853;

}
footer .demo-logo{
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
  color: #999;
}
footer .demo-logo strong{
  color: #FA5C4A;
}
/*
.wide {
  width:100%;
  height:100%;
  height:calc(100% - 1px);
  background-image:url('https://c.stocksy.com/a/RcN300/z0/805779.jpg');
  background-size:cover;
}
.wide img {
  width:100%;
}*/

.jumbotron {
  position: relative;
  background: #000 url(../../images/Jogging.jpg) center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
}
.navbar-custom {
  color: #FFFFFF;
  background-color: #fff;
  border-bottom: 1px solid rgba(70,76,89,.1);
  height: 80px;
}


.navbar-toggle * {
  -ms-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.navbar-toggle {
  color: #fff;
  height: 20px;
  width: 20px;
  cursor: pointer;
  padding: 0px;
  border-radius: 0px;
  border: none;
}
.navbar-toggle span {
  width: 20px;
  height: 2px;
  margin-bottom: 3px;
  background-color: #999;
  display: block;
}
.navbar-toggle span.bar1 {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -ms-transform-origin: 1px 3px;
  -webkit-transform-origin: 1px 3px;
  -moz-transform-origin: 1px 3px;
  -o-transform-origin: 1px 3px;
  transform-origin: 1px 3px;
  width: 24px;
}
.navbar-toggle span.bar2 {
  -ms-transform: rotate(-360deg) scale(0);
  -webkit-transform: rotate(-360deg) scale(0);
  -moz-transform: rotate(-360deg) scale(0);
  -o-transform: rotate(-360deg) scale(0);
  transform: rotate(-360deg) scale(0);
}

.navbar-toggle span.bar3 {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -ms-transform-origin:9px 2px;
  -webkit-transform-origin: 9px 2px;
  transform-origin: 9px 2px;
  width: 24px;
}
.navbar-toggle.collapsed span.bar1,
.navbar-toggle.collapsed span.bar2,
.navbar-toggle.collapsed span.bar3,
.navbar-toggle.collapsed span.bar4 {
  -ms-transform: none;
  -webkit-transform: none;
  transform: none;
  width: 20px;
}


.navbar-brand {
  float: left;
  padding: 20px 60px;
  font-size: 18px;
  line-height: 20px;
  background:url(../images/logo.png) no-repeat;

  margin-top: 18px;
  margin-left: 10px;
}





.navbar-toggle {
  float: right;
  margin-top: 30px;

}

.navbar-nav > li > a{
color: #474B59;
  padding: 10px 10px 10px 10px;
  font-size: 12px;
  text-transform: uppercase;
}


.navbar-nav > li > a:hover {
  text-decoration: none;
  background-color: #F0F3F5;
  color: #474B59;
  border-radius: 4px;
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
}


@media (min-width: 768px){
.navbar-nav > li > a{
padding-top: 30px;
padding-bottom: 30px;}

}





@media (max-width: 768px){

  .nav {
    background-color: #FFF;
    border-bottom: 2px solid #cf4b46;
  }


.navbar-nav > li > a:hover {

  margin-top: 0px;
}}


.lastupdate:before {
  font-family: FontAwesome;
  content: "\f040";
  color: #cf4b46;
}

.adressparking:before {
  font-family: FontAwesome;
  content: "\f1b9";
  color: #cf4b46;
}

.btn {

  margin-top: 20px;
  background-color: #cf4b46;
  color: #fff;
}

.btn:hover {


  background-color: crimson;
  color: #fff;
}

.sportlocation__name {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
}

.ghent-sportlocations>ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.lastupdate:before {
  font-family: FontAwesome;
  content: "\f021";
  color: #cf4b46;
}

.adressparking:before {
  font-family: FontAwesome;
  content: "\f1b9";

}



.taalevent:before {
  font-family: FontAwesome;
  content: "\f0ac";

}

.openingevent:before {
  font-family: FontAwesome;
  content: "\f133";

}

.locatieevent:before {
  font-family: FontAwesome;
  content: "\f041";

}

.prijsevent:before {
  font-family: FontAwesome;
  content: "\f153";

}


.rood{
  color: #cf4b46;

.gentstebutton{
  color: #e76853;
  margin-top: 30px;}
}


.websitelinkgent:before {
  font-family: FontAwesome;
  content: "\f0ac";

}
.websitelinkgent a{
  color: #e76853;
  text-decoration: none;
}
.websitelinkgent a:hover {
  color: #e76853;
  text-decoration: underline;

}